{% extends "layout.html" %}

{% block body %}
     <section>
        <div class="container">
                <div class="d-flex margen-new">
                    <img src="/static/images/kromalogos.png" class="img-fluid ">
                </div>
                <div class="content-center">
                    <h2> A little story <b>about Me...</b></h2>
                    <p>Kroma is my nickname, it is the abbreviation of the word cromañon in Spanish, 
                      cro-magnon in English. I started painting stencil in 2013 motivated mainly by boredom. 
                      I remember being in the summer of 2013 sitting on my sofa at home watching the simpsons 
                      on television, I remember being very bored and the simpsons episode was when banksy 
                      collaborated, in that episode I saw bart become a street artist, While I was slowly 
                      recognizing what street art consisted of and this artist called Bansky, until then 
                      unknown to me.
                    </p>
                    <p class="paragraphs">
                      I was very impressed by Banksy's art in how busy satire and ironies 
                      were in his artwork, so I set out to start stenciling. firstly I started painting 
                      t-shirts with stencils but then I realized that it was not enough, I started to investigate 
                      more about this art, then I got to know blek le rat and his history, for some the father 
                      of the stencil. After that I started to make a little bigger stencils but I didn't know 
                      where to paint them, since painting them on the street walls is illegal. But I remember 
                      finding a movie about banksy, the movie was "exit through the gift shop." Seeing that movie 
                      inspired me to start going out onto the streets to paint. What was the worst that could happen 
                      to me? The first stencil I painted in the streets was the face of "American psycho" and at that 
                      moment I knew that this was for me, I remember the sensation of adrenaline and serotonin running 
                      through my body and that I was not going to stop, the feeling of being doing something illegal, 
                      vandalism for some art for others. and since then I have been gaining more experience and losing 
                      my fear. I think I started all this out of the pure need to express myself, to leave my mark in 
                      this world, to show that I am not one more in this world, to show the world who is KROMA.
                    </p>
                </div>
                <div class="row"> 
                  <div class="column">
                    <img src="/static/images/stecil-gallery.jpg" class="card" style="width:100%">
                    <img src="/static/images/kromastencil.jpg" class="card" style="width:100%">
                    <img src="/static/images/ganesha1.jpg" class="card" style="width:100%">
                    <img src="/static/images/stencil2.jpg" class="card" style="width:100%">                                     
                  </div>

                  <div class="column">
                    <img src="/static/images/tigrepainting.jpg" class="card" style="width:100%">
                    <img src="/static/images/stencilpsycho.jpg" class="card" style="width:100%">                
                    <img src="/static/images/ganesha2.jpg" class="card" style="width:100%">
                    <img src="/static/images/tectura1.jpg" class="card" style="width:100%">
                  </div>  

                  <div class="column">
                    <img src="/static/images/luciferstencil.jpg" class="card" style="width:100%">
                    <img src="/static/images/stencilmoon.jpg" class="card" style="width:100%">
                    <img src="/static/images/dalmata.jpg" class="card" style="width:100%">
                    <img src="/static/images/taller1.jpg" class="card" style="width:100%">                   
                  </div>
                </div>
    
                

                      <!--  PORTAFOLIO BOTTOM LETTERS --> 
        <div class="text-center topmargin-lg">
            <p>If you are interested in my artworks</p>
            <a href="/contact"class="text-dark font-weight-bold">Just Let Me Know</a>
        </div>                                                        

     </section>
     

{% endblock %}