{% extends "layout.html" %}

{% block body %}
          <!-- PORTFOLIO SECTION --> 
    <section id="portfolio" class="bg-light-grey">
        <div class="container">
          <div class="content-center">
            <h2><b>Portfolio</b>, A brave register of my artworks.</h2>
            <p>The mother technique of all my works is the "stencil", the tints of the paintings of my 
              works vary between spray paint, acrylic, etc. without excluding other techniques that I have not experienced.
              I also mix painting techniques, with a brush, pencil, brush, etc. to try different colors and textures with the paints.
            </p>
          </div>

          <section class="gallery-block cards-gallery ">
            <div class="row"> <!-- FIRST COLUMN --> 
                <div class="column col-md-6 col-lg-4 ">
                    <div class="card border-0 transform-on-hover">
                      <a class="lightbox" href="/static/images/cuadro-1.jpg" ><img src="/static/images/cuadro-1.jpg" class="card-img-top" alt="neptuno2"></a>
                      <div class="card-body" >
                        <h6>Acrylic and Spray paint on canvas, Mixed technique, size 65x76cm.</h6>
                        <p class="text-muted card-text"> - Neptuno 0n Wax</p>
                      </div>
                    </div>
                    <div class="card border-0 transform-on-hover">
                      <a class="lightbox" href="/static/images/pinguino.jpg" ><img src="/static/images/pinguino.jpg" class="card-img-top" alt="neptuno2" ></a>
                      <div class="card-body" >
                        <h6>Spray paint on metal cortain, Stencil technique, size 60x70cm.</h6>
                        <p class="text-muted card-text">- humbold penguin 1</p>
                      </div>
                    </div>
                    <div class="card border-0 transform-on-hover">
                        <a class="lightbox" href="/static/images/lucifer.jpg" ><img src="/static/images/lucifer.jpg" class="card-img-top" alt="neptuno2" ></a>
                        <div class="card-body" >
                          <h6>Spray paint on concrete wall, Stencil technique, size 110x220cm.</h6>
                          <p class="text-muted card-text">- luxfero</p>
                        </div>
                    </div>
                    <div class="card border-0 transform-on-hover">
                      <a class="lightbox" href="/static/images/yuri1.jpg" ><img src="/static/images/yuri1.jpg" class="card-img-top" alt="neptuno2" ></a>
                      <div class="card-body" >
                        <h6>Spray paint on concrete wall, Stencil technique, size 100x80cm.</h6>
                        <p class="text-muted card-text">- Yuri Gagarin</p>
                      </div>
                    </div>
                    <div class="card border-0 transform-on-hover">
                      <a class="lightbox" href="/static/images/zaratustra.jpg" ><img src="/static/images/zaratustra.jpg" class="card-img-top" alt="neptuno2" ></a>
                      <div class="card-body" >
                        <h6>Spray paint on concrete wall, Stencil technique, size 200x120cm.</h6>
                        <p class="text-muted card-text">- Zoroaster</p>
                      </div>
                    </div>
                    <div class="card border-0 transform-on-hover">
                      <a class="lightbox" href="/static/images/kromastencil.jpg" ><img src="/static/images/kromastencil.jpg" class="card-img-top" alt="neptuno2" ></a>
                      <div class="card-body" >
                        <h6></h6>
                        <p class="text-muted card-text">- First template</p>
                      </div>
                    </div>
                </div>
                        <!-- SECOND COLUMN --> 
                <div class="column col-md-6 col-lg-4 ">
                    <div class="card border-0 transform-on-hover">
                      <a class="lightbox" href="/static/images/astronauta.jpg" ><img src="/static/images/astronauta.jpg" class="card-img-top" alt="neptuno2" ></a>
                      <div class="card-body" >
                        <h6>Spray paint on concrete wall, Stencil technique, size 90x200cm.</h6>
                        <p class="text-muted card-text">- AstroBoy</p>
                      </div>
                    </div>
                    <div class="card border-0 transform-on-hover">
                      <a class="lightbox" href="/static/images/neptuno.jpg" ><img src="/static/images/neptuno.jpg" class="card-img-top" alt="neptuno2" ></a>
                      <div class="card-body" >
                        <h6>Spray paint on concrete wall, Stencil technique, size 5x55cm.</h6>
                        <p class="text-muted card-text">- Neptuno on street</p>
                      </div>
                    </div>
                    <div class="card border-0 transform-on-hover">
                        <a class="lightbox" href="/static/images/radioactivo.jpg" ><img src="/static/images/radioactivo.jpg" class="card-img-top" alt="neptuno2" ></a>
                        <div class="card-body" >
                          <h6>Spray paint on concrete wall, Stencil technique, size 80x180cm.</h6>
                          <p class="text-muted card-text">- Radioactive love </p>
                        </div>
                    </div>
                    <div class="card border-0 transform-on-hover">
                      <a class="lightbox" href="/static/images/valentina.jpg" ><img src="/static/images/valentina.jpg" class="card-img-top" alt="neptuno2" ></a>
                      <div class="card-body" >
                        <h6>Spray paint on concrete wall, Stencil technique, size 100x80cm.</h6>
                        <p class="text-muted card-text">- Valentina Tereshkova</p>
                      </div>
                    </div>
                    <div class="card border-0 transform-on-hover">
                      <a class="lightbox" href="/static/images/pinguino2.jpg" ><img src="/static/images/pinguino2.jpg" class="card-img-top" alt="neptuno2" ></a>
                      <div class="card-body" >
                        <h6>Spray paint on metal wall, Stencil technique, size 60x70cm.</h6>
                        <p class="text-muted card-text">- humbold penguin 1</p>
                      </div>
                    </div>
                </div>
                     <!-- THIRD COLUMN --> 
                <div class="column col-md-6 col-lg-4 ">
                    <div class="card border-0 transform-on-hover">
                      <a class="lightbox" href="/static/images/Tigre.jpg" ><img src="/static/images/Tigre.jpg" class="card-img-top" alt="neptuno2" ></a>
                      <div class="card-body" >
                        <h6>Spray paint on concrete wall, Stencil technique, size 200x100cm.</h6>
                        <p class="text-muted card-text">- the scale of female Tiger</p>
                      </div>
                    </div>
                    <div class="card border-0 transform-on-hover">
                      <a class="lightbox" href="/static/images/cuadro1.jpg" ><img src="/static/images/cuadro1.jpg" class="card-img-top" alt="neptuno2" ></a>
                      <div class="card-body" >
                        <h6>Acrylic paint on canvas, Stencil technique, size 60x110cm.</h6>
                        <p class="text-muted card-text">- American psycho</p>
                      </div>
                    </div>
                    <div class="card border-0 transform-on-hover">
                        <a class="lightbox" href="/static/images/cuadro3.jpg" ><img src="/static/images/cuadro3.jpg" class="card-img-top" alt="neptuno2" ></a>
                        <div class="card-body" >
                          <h6>Acrylic and Spray paint on canvas, stencil technique, size 80x92cm.</h6>
                          <p class="text-muted card-text">- Yuri 3D</p>
                        </div>
                    </div>
                    <div class="card border-0 transform-on-hover">
                      <a class="lightbox" href="/static/images/bailarina7.jpg" ><img src="/static/images/bailarina7.jpg" class="card-img-top" alt="neptuno2" ></a>
                      <div class="card-body" >
                        <h6>Spray paint painting on paperboard, stencil technique, size 30x65cm.</h6>
                        <p class="text-muted card-text">- Graceful ballerina</p>
                      </div>
                  </div>
                  <div class="card border-0 transform-on-hover">
                    <a class="lightbox" href="/static/images/pagare.jpg" ><img src="/static/images/pagare.jpg" class="card-img-top" alt="neptuno2" ></a>
                    <div class="card-body" >
                      <h6>Spray paint painting on canvas, stencil technique, size 70x150cm.</h6>
                      <p class="text-muted card-text">- Promissory note</p>
                    </div>
                  </div>
                </div>
            </div>
            <div class="text-center topmargin-sm">
              <p>If you want to learn and know more</p>
              <a href="/aboutme" class="text-dark font-weight-bold">Check out more about me</a>
            </div>             
          </section>
        </div>              
      </section>
  

{% endblock %}