{% extends "layout.html" %}

{% block body %}
<section id="success" class="bg-light-grey">
    <div class="container">
      <div class="content-center">
        <h2><b>Thanks</b> for your message !!</h2>
        <p>         
          I will get in touch with you as soon as possible, I really appreciate your comments. 
          You can also visit my social networks to see and learn more about my art.
        </p>
        <div class="icons">
          <a class="icons-item" href="https://www.instagram.com/kroma_stencil/"><i class="fab fa-instagram"></i></a>
          <a class="icons-item" href="#"><i class="fab fa-twitter"></i></a>
          <a class="icons-item" href="#"><i class="fab fa-youtube"></i></a>
          <a class="icons-item" href="https://github.com/kromabyte"><i class="fab fa-github"></i></a>
          <a class="icons-item" href="https://www.facebook.com/kroma.stencil"><i class="fab fa-facebook"></i></a>
        </div>     
      </div>
    </div>
</section>
{% endblock %}